{{ template "base" .}}

{{ define "content"}}
    <div class="container">
        <div class="col">
            <div class="row">
                <h1>This is about page</h1>
            </div>
        </div>
        <p>helooo</p>
        <p>helooo</p>
        <p>helooo</p>
        <h2>Taken from data: <strong>{{index .StringMap "greeting"}}</strong></h2>
    </div>
{{ end }}