{{ template "base" .}}

{{ define "content"}}
    <div class="container">
        <div class="col">
            <div class="row">
                <h1>This is about page</h1>
            </div>
        </div>
        <p>helooo</p>
        <p>helooo</p>
        <p>helooo</p>
        <h2>Taken from data: <strong>{{index .StringMap "greeting"}}</strong></h2>
        <h2>
            {{ if eq (index .StringMap "ip") ""}}
                there is no ip address recorded in the session, go to <a href="/home">home</a> 
                to save ip address in the session.
            {{ else }}
                your IP Address is {{index .StringMap "ip"}}
            {{ end }}
        </h2>
        

    </div>
{{ end }}